body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
header .logo {
    font-size: 23px;
    font-weight: bold;
    color: #FFF;
}
header .menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header .menu--line {
    height: 2px;
    background-color: #333;
}

.container {
    display: flex;
    height: 100vh;
}
.container .left-side {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    flex: 1;
    background-color: #3b576d;
}
.container .right-side {
    flex: 1;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center top;
}
.container .info {
    color: #FFF;
}
.container .info .profession {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 19px;
}
.container .info .name {
    font-weight: bold;
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.container .info .buttons a {
    display: inline-block;
    background-color: #FFF;
    color: #3b576d;
    padding: 20px 40px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 0 10px #111;
    border-radius: 5px;
    margin-right: 10px;
}
.container .info .buttons a.light {
    color: #FFF;
    background-color: #3b576d;
}
.container .info .buttons a:hover {
    opacity: 0.7;
}
footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    color: #FFF;
    font-size: 13px;
}


@media (max-width:850px) {

    header {
        position: initial;
        background-color: #3b576d;
    }
    header .menu--line {
        background-color: #FFF;
    }

    .container {
        flex-direction: column;
    }
    .container .left-side {
        flex: none;
        padding: 30px 20px;
        justify-content: center;
        text-align: center;
    }
    footer {
        position: initial;
        color: #333;
        font-size: 16px;
    }
}
@media (max-width:450px) {

    .container .left-side .info .name {
        font-size: 50px;
    }

    .container .left-side .info .buttons a {
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
    }
}